import type { FastifyTypedInstance } from '@/types'

// Importe e registre os *Routes de cada módulo aqui.
// Exemplo:
// import { autenticacaoRoutes } from '@/modules/autenticacao/autenticacao.routes'

export async function routes(app: FastifyTypedInstance) {
	// app.register(autenticacaoRoutes, { prefix: '/autenticacao' })
}
