{
  "name": "{{project}}",
  "version": "1.0.0",
  "description": "Backend Api do {{Project}}",
  "main": "dist/server.js",
  "scripts": {
    "dev": "tsx watch src/server.ts",
    "build": "tsup",
    "start": "node dist/server.js",
    "test": "jest"
  },
  "keywords": [],
  "license": "ISC",
  "type": "commonjs"
}
